/*****************************************************************************/
/*                                  reset css                                */
/*****************************************************************************/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

img,body,html {
    border: 0;
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

h1 {
    height: 26px;
    line-height: 26px;
    font-size: 18px;
}

h2 {
    height: 24px;
    line-height: 24px;
    font-size: 16px;
}

h3 {
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}

q:before,q:after {
    content: '';
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,button,textarea,select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

input,button,textarea,select {
    *font-size: 100%;
}

select,input,button,textarea {
    font: 100% Tahoma, Helvetica, Arial, sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

pre,code,kbd,samp,tt {
    font-family: 'Courier New', Courier, monospace;
}

small {
    font-size: 100%;
}

a {
    color: #028ef0;
    text-decoration: none;
}

a:hover {
    color: #f60;
    text-decoration: underline;
}

abbr,acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

hr {
    color: #d1d7dc;
    background-color: #d1d7dc;
    border: none;
    height: 1px;
}

/* 让浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
    background: #fff;
}

body {
    padding: 0 0px;
    font: 12px/ 1.5 Tahoma, Arial, '宋体', sans-serif;
    background-color: #fff;
}
/* Clear Fix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hide from IE Mac */
.clearfix {
    display: block;
}
/* End hide from IE Mac */
/* end of clearfix */
